.d-none {
    display: none !important;
}

.content {
    animation: fadeEffect 1s;
    border: none;
    padding: 2rem;
    background-color: var(--page-bg);
    transition: inherit;
    max-width: 1010px;
    margin: auto;
}

.change-theme {
    width: 2.5rem;
    height: 2.5rem;
}

.change-theme:hover,
.material-symbols-rounded:hover {
    font-variation-settings: 'FILL' 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbutton {
    background-color: var(--navgroup-bg);
}

.dropdown-content {
    background-color: #00000000;
    margin: 0rem;
    padding: 0rem;
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-bg {
    display: grid;
    background-color: var(--navgroup-bg);
    margin-top: 0.25rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

.dropdown .dropdown-content .dropdown-bg .dropitem {
    margin: 0.2rem;
}

.dropdown:hover .dropbutton {
    background-color: var(--hover-navgroup);
    text-shadow: 0px 0px 10px #2f80ed;
    font-variation-settings: 'FILL' 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    top: 3rem;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6,
.md p,
.md ul,
.md ol {
    margin: 0rem;
    padding-bottom: 0.25rem;
}

.md h1 {
    padding-top: 3rem;
}

.md h2 {
    padding-top: 2rem;
}

.md h3 {
    padding-top: 1rem;
}

.md h4 {
    padding-top: 0.75rem;
}

.md h5 {
    padding-top: 0.5rem;
}

.md h6 {
    padding-top: 0.25rem;
}

.md p,
.md ul,
.md ol {
    padding-top: 0rem;
}